.add-book {
  padding: 20px 0;
  border-top: 1px solid lightgray;
  margin-top: 1.8rem;
}

.add-book h2 {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

.book-form {
  display: flex;
  margin-top: 10px;
}

.book-form input {
  padding: 0.813rem 1.063rem 0.813rem 1.063rem;
  margin-right: 20px;
  flex: 0.6;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

.book-form input::placeholder {
  opacity: 0.5;
  font-size: 1rem;
}

.book-form .author {
  padding: 10px;
  margin-right: 20px;
  flex: 0.2;
}

.addBtn {
  flex: 0.2;
  padding: 1.3rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border: none;
}
