.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.6rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.category {
  font-size: 0.875rem;
  font-weight: 700;
  opacity: 0.5;
  color: #121212;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  color: #121212;
}

.author {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.book-details {
  flex: 0.5;
}

.book-details ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.book-buttons,
.removeBtn {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  background-color: transparent;
  border: none;
  margin: 10px 0;
}

.left {
  padding-right: 10px;
}

.middle {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  padding: 0 10px;
}

.right {
  padding-left: 10px;
}

.circle {
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  border-radius: 50%;
  transform: rotate(45deg);
  margin-right: 1.3rem;
}

.percent {
  font-size: 2rem;
  color: #121212;
}

.status {
  font-size: 0.8rem;
  color: #121212;
  opacity: 0.5;
}

.book-progress {
  flex: 0.2;
  height: 4.3rem;
  display: flex;
  align-items: center;
  border-right: 1px solid lightgray;
  padding-right: 5rem;
}

.book-bookmark {
  flex: 0.3;
  padding-left: 3.6rem;
}

.book-bookmark h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #121212;
  opacity: 0.5;
}

.book-bookmark h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  color: #121212;
}

.book-bookmark button {
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  border: none;
  margin-top: 1.8rem;
}
